In [4]:
from pandas import Series
import numpy as np

In [5]:
pointers = [4, 5, 10, 6, 4, 5, 5, 9]
s1 = Series(pointers, dtype=np.int16)
print(s1)
print(type(s1))

0     4
1     5
2    10
3     6
4     4
5     5
6     5
7     9
dtype: int16
<class 'pandas.core.series.Series'>

In [6]:
roll_nos = [1, 10, 5, 7, 3, 2, 11, 12]
s2 = Series(pointers, index=roll_nos, dtype=np.int16)
print(s2)
print(type(s2))

1      4
10     5
5     10
7      6
3      4
2      5
11     5
12     9
dtype: int16
<class 'pandas.core.series.Series'>

In [7]:
sd = {10: 4, 23: 10, 2: 5, 5: 6, 9: 10}
s3 = Series(sd, dtype=np.int16)
print(s3)
print(type(s3))

10     4
23    10
2      5
5      6
9     10
dtype: int16
<class 'pandas.core.series.Series'>

In [11]:
print(s2)
print(s2.index)
v = s2.values
print(v)
print(type(v))

1      4
10     5
5     10
7      6
3      4
2      5
11     5
12     9
dtype: int16
Int64Index([1, 10, 5, 7, 3, 2, 11, 12], dtype='int64')
[ 4  5 10  6  4  5  5  9]
<class 'numpy.ndarray'>

In [19]:
# indexing
print(s2)
# index on basis of rollno
print(s2.loc[7])
print(s2.loc[11])
ss = s2.loc[[10, 2, 11]]
print(ss)
print(type(ss))

# index on basis of the implicit 0 based index
print(s2.iloc[0])
print(s2.iloc[-1])

# indexing + assignment
s2.loc[7] = 8
print(s2)

1      4
10     5
5     10
7      6
3      4
2      5
11     5
12     9
dtype: int16
6
5
10    5
2     5
11    5
dtype: int16
<class 'pandas.core.series.Series'>
4
9
1      4
10     5
5     10
7      8
3      4
2      5
11     5
12     9
dtype: int16

In [23]:
# filtering
print(s2)
print(s2 > 5) # boolean series

print(s2.loc[s2 > 5]) # print(s2.loc[[5, 7, 12]])

s2.loc[3] = 6
s2.loc[11] = 8

1      4
10     5
5     10
7      8
3      4
2      5
11     5
12     9
dtype: int16
1     False
10    False
5      True
7      True
3     False
2     False
11    False
12     True
dtype: bool
5     10
7      8
12     9
dtype: int16

In [29]:
print(s2)
print((s2 % 2 == 0) & (s2 > 5))

print(s2.loc[(s2 % 2 == 0) & (s2 > 5)])

1      4
10     5
5     10
7      8
3      6
2      5
11     8
12     9
dtype: int16
1     False
10    False
5      True
7      True
3      True
2     False
11     True
12    False
dtype: bool
5     10
7      8
3      6
11     8
dtype: int16

In [32]:
print(s2)
# slicing
# give me a series of the last 3 pointers
# implict index slicing
print(s2.iloc[-3:])

# explicit index slicing
print(s2.loc[1:5]) # end index is inclusive

1      4
10     5
5     10
7      8
3      6
2      5
11     8
12     9
dtype: int16
2     5
11    8
12    9
dtype: int16
1      4
10     5
5     10
dtype: int16

In [34]:
print(s2)
# slicing + assignment
s2.iloc[-3:] = 0
print(s2)

1      4
10     5
5     10
7      8
3      6
2      5
11     8
12     9
dtype: int16
1      4
10     5
5     10
7      8
3      6
2      0
11     0
12     0
dtype: int16

In [37]:
# oop slicing functions
print(s2.head(3))
print(s2.tail(4))

1      4
10     5
5     10
dtype: int16
3     6
2     0
11    0
12    0
dtype: int16

In [44]:
# aggregation
print(s2.mean())
print(s2.std())
print(s2.var())
print(s2.max())
print(s2.cumsum())

d = s2.describe()
print(d.loc[['mean', 'std']])

4.125
3.8706773124535787
14.982142857142858
10
1      4
10     9
5     19
7     27
3     33
2     33
11    33
12    33
dtype: int64
mean    4.125000
std     3.870677
dtype: float64

In [49]:
s2.loc[11] = 8
s2.loc[12] = 9
print(s2)
vc = s2.value_counts(ascending=True)
print(vc)

1      4
10     5
5     10
7      8
3      6
2      0
11     8
12     9
dtype: int16
0     1
4     1
5     1
6     1
9     1
10    1
8     2
dtype: int64

In [54]:
print(s2)
sos = s2.sort_values(ascending=False)
print(sos)

sis = s2.sort_index()
print(sis)

1      4
10     5
5     10
7      8
3      6
2      0
11     8
12     9
dtype: int16
5     10
12     9
11     8
7      8
3      6
10     5
1      4
2      0
dtype: int16
1      4
2      0
3      6
5     10
7      8
10     5
11     8
12     9
dtype: int16

In [59]:
print(s3)
s4 = Series({2: 6, 5: 5, 9: 3, 23: 10, 10: 5}, dtype=np.int16)
print(s4)

s5 = s3 + s4
print(s5)

s6 = Series({5: 5, 9: 5, 10: 8}, dtype=np.int16)
print(s6)

s7 = s5 + s6
print(s7)

10     4
23    10
2      5
5      6
9     10
dtype: int16
2      6
5      5
9      3
23    10
10     5
dtype: int16
2     11
5     11
9     13
10     9
23    20
dtype: int16
5     5
9     5
10    8
dtype: int16
2      NaN
5     16.0
9     18.0
10    17.0
23     NaN
dtype: float64

In [60]:
s8 = s5.add(s6, fill_value=0)
print(s8)

2     11.0
5     16.0
9     18.0
10    17.0
23    20.0
dtype: float64

In [61]:
s9 = Series([32, 32, 33, None, 33.5], index=['0430','0432','0450','0451','0500'])
print(s9)

0430    32.0
0432    32.0
0450    33.0
0451     NaN
0500    33.5
dtype: float64

In [63]:
# bad data
s10 = s9.dropna()
print(s10)
print(s9)

0430    32.0
0432    32.0
0450    33.0
0500    33.5
dtype: float64
0430    32.0
0432    32.0
0450    33.0
0451     NaN
0500    33.5
dtype: float64

In [64]:
s11 = s9.ffill()
print(s11)

0430    32.0
0432    32.0
0450    33.0
0451    33.0
0500    33.5
dtype: float64